.main {
  display: grid;
  gap: 16px;
}
.info-client {
  display: grid;
}
.complete-order {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px;
}
.order-table td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  padding: 4px;
}
.prod-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
