* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
}
header {
  background-color: #ebc136;
  width: 100vw;
}
main {
  max-width: 1440px;
}
header .content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 0px;
  display: flex;
  justify-content: space-between;
}
header .logo {
  font-size: 28px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
header nav {
  display: flex;
  align-items: center;
  gap: 32px;
  color: white;
  font-size: 1.2rem;
}
header nav .cart-link {
  display: flex;
  align-items: center;
}
header nav img {
  height: auto;
  width: 24px;
}
header nav a {
  color: white;
  text-decoration: none;
}
main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cover .first-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cover .first-column h1 {
  font-size: 48px;
  font-family: "Baloo 2", cursive;
  line-height: 1.3;
}
.cover .first-column p {
  margin-bottom: 16px;
  font-size: 20px;
  color: #403937;
}
.grid-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}
.grid-list li {
  display: flex;
  gap: 8px;
}
.grid-list .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 9999px;
}
.grid-list li p {
  display: flex;
  align-items: center;
}
.coffees-list-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.coffees-list-container h2 {
  color: #403937;
  font-family: "Baloo 2", cursive;
}
.coffees-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
}
.coffees-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  background-color: #f3f2f2;
  padding: 16px;
  border-radius: 16px;
}
.coffees-list li > img {
  margin-top: -32px;
}
.coffees-list li .coffee-category {
  background-color: #f1e9c9;
  color: #c47f17;
  padding: 4px 16px;
  border-radius: 9999px;
}
.coffees-list li .coffee-description {
  text-align: center;
  color: #8d8686;
}
.coffees-list li .price-container span:first-child {
  color: #403937;
  font-size: 20px;
}
.coffees-list li .price-container span:nth-child(2) {
  font-family: "Baloo 2", cursive;
  font-size: 32px;
  font-weight: bold;
  color: #574f4d;
}
.coffees-list li .add-to-cart-container {
  display: flex;
  align-items: center;
  gap: 32px;
}
.coffees-list li .add-to-cart-container button {
  background-color: #ebc136;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}
.coffees-list li .add-to-cart-container button img {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  body {
    padding: 0 8px;
    width: 100%;
  }
  main {
    width: 100%;
  }
  .cover {
  }
  .coffees-list-container {
    width: 100vw;
  }
  .coffees-list {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .coffees-list li {
  }
  .container .cover {
    display: grid;
  }
  .container .cover .first-column {
    display: grid;
  }
}

.login-form {
  border: #dedede solid 1px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 24px;
}
.login-form input {
  padding: 8px;
  width: 300px;
}
.login-form button {
  background-color: #ebc136;
  border: none;
  color: white;
  padding: 12px;
  font-size: 18px;
  width: 300px;
  cursor: pointer;
}
.login-error {
  width: 300px;
  background-color: #db3737;
  text-align: center;
  color: white;
  padding: 8px 0;
}
